<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Agility Solutions - Back Office Agility Web Help Desk - E-mail Seja Bem Vindo</title>
</head>

<body>
    <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="http://192.168.61.20/HelpDesk/Style/Images/Images/header_email.jpg" width="800" height="157" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://192.168.61.20/HelpDesk/Style/Images/tit_bemvindo.jpg" width="800" height="70" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#f1f1f1" style="padding-left: 20px; font-family: Verdana, Geneva, sans-serif; font-size: 16px; color: #878787;">
                <p>
                    <br />
                    Oi<strong>{NomeUsuario}</strong> seu cadastro no sistema Web Help Desk foi realizado com sucesso!
                </p>
                <p>
                    Nome da Empresa: <strong>{NomeEmpresa}</strong><br />
                    CNPJ da Empresa: <strong>{CnpjEmpresa}</strong><br />
                    E-mail do responsável: <strong>{EmailCadastro}</strong>
                </p>
                <p>
                    <!--Para ativar o seu cadastro acesse o link abaixo:<br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a href="#">{LinkAcesso}</a><br />-->
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </p>
                <p>Atenciosamente</p>
                <p>Help Desk</p>
                <p>{DataEnvio}</p>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://192.168.61.20/HelpDesk/Style/Images/footer_email.jpg" width="800" height="116" /></td>
        </tr>
    </table>
</body>
</html>
