@charset "UTF-8";
/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
}

#bg_header_line {
    width: 100%;
    height: 10px;
    background-image: url(../../Style/Images/bh_header.jpg);
}

#bg_header {
    width: 100%;
    height: 142px;
    background-image: url(../../Style/Images/bg_header2.jpg);
}

#content {
    widht: 100%;
    height: auto;
    min-height: 530px;
    background-image: url(../../Style/Images/bg_content.jpg);
    background-repeat: repeat-x;
    background-color: #fefefe;
    padding-top: 100px;
}

#content_acesso {
    widht: 100%;
    height: auto;
    min-height: 530px;
    background-image: url(../images/bg_content.jpg);
    background-repeat: repeat-x;
    background-color: #fefefe;
    padding-top: 10px;
}

#footer {
    width: 100%;
    height: 120px;
    background-image: url(../../Style/Images/footer_bg.jpg);
    background-repeat: repeat-x;
}

#header_area {
    width: 979px;
    height: 142px;
    margin: 0 auto;
}

#logo {
    width: 221px;
    height: 78px;
    float: left;
    margin-top: 24px;
}

#title {
    width: 701px;
    height: 47px;
    float: right;
    margin-top: 44px;
}

#content_area_login {
    width: 567px;
    height: 311px;
    margin: 0 auto;
    background-image: url(../../Style/Images/bg_login.png);
}

#footer_area {
    width: 979px;
    height: 140px;
    margin: 0 auto;
}

#text_footer_left {
    width: 458px;
    height: 100px;
    float: left;
    margin-top: 29px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #e7e7dc;
}

.com_class_pri {
    border: 1px solid #bbbbbb;
    height: 25px;
    width: 220px;
}

#copyright {
    width: 305px;
    height: 30px;
    float: right;
    margin-top: 44px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #c8c7c0;
}

#title_login {
    width: 523px;
    height: 55px;
    float: right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #c8c7c0;
    padding: 22px 0 0 44px;
}

#form_login {
    width: 523px;
    height: 195px;
    float: right;
    padding: 22px 0 0 44px;
}

.txt_form {
    font-family: Arial Narrow;
    font-size: 22px;
    color: #454444;
}

#form_login input {
    border: 2px solid #cfcfd0;
    height: 37px;
    width: 290px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    font-size: 14px;
}

#saudacao {
    width: 100%;
    height: 54px;
    background-image: url(../../Style/Images/bg_saudacao.jpg);
}

#content_saudacao {
    width: 979px;
    height: 54px;
    margin: 0 auto;
    font-family: Verdana, Geneva, sans-serif;
    color: #ff6600;
    font-size: 12px;
    line-height: 54px;
}

#side_saudacao {
    float: left;
    width: 700px;
    height: 54px;
}

#bt_sair {
    float: right;
    width: 82px;
    height: 28px;
    margin-top: 10px;
}

#nav_status {
    width: 979px;
    height: 41px;
    line-height: 41px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #878787;
    text-decoration: none;
}

    #nav_status a {
        color: #878787;
        text-decoration: none;
    }

        #nav_status a:hover {
            color: #878787;
            text-decoration: underline;
        }

#inner_content_ {
    height: auto;
    min-height: 200px;
    width: 979px;
    margin: 0 auto;
}

#title_acesso_ {
    width: 979px;
    height: 70px;
    margin-top: 15px;
}

#form_box {
    width: 959px;
    height: auto;
    margin-top: 30px;
    background-color: #f5f3f3;
    border: 1px solid #bbbbbb;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

    #form_box input {
        height: 30px;
        border: 1px solid #bbbbbb;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        font-size: 14px;
    }

#form_box2 {
    width: 959px;
    height: auto;
    margin-top: 30px;
    background-color: #f5f3f3;
    border: 1px solid #bbbbbb;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

    #form_box2 input {
        height: 30px;
        border: 1px solid #bbbbbb;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        font-size: 14px;
    }

.header_table {
    background-image: url(../../Style/Images/bg_table.jpg);
}

.border_table {
    width: 980px;
    border: 1px solid #bfbfbf;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    padding-left: 5px;
    color: #000;
}

    .border_table tr td {
        border: 1px solid #bfbfbf;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
        padding-left: 5px;
        color: #000;
    }

#form_box3 {
    width: 959px;
    min-height: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 20px;
}

    #form_box3 input {
        height: 30px;
        border: 1px solid #bbbbbb;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        font-size: 14px;
    }

.preencher {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #878787;
}

.input_titulos {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #878787;
}

.input_titulos_exemplo {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #878787;
}

.paginacao {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #ff0000;
    text-decoration: none;
}

    .paginacao a {
        color: #ff0000;
        text-decoration: none;
    }

        .paginacao a:hover {
            color: #ff0000;
            text-decoration: underline;
        }

.nome {
    width: 391px;
}

.razaosocial {
    width: 391px;
}

.nomefantasia {
    width: 391px;
}

.endereco {
    width: 391px;
}

.email {
    width: 316px;
}

.cnpj {
    width: 316px;
}

.estado {
    width: 250px;
}

.cep {
    width: 100px;
}

.cidade {
    width: 250px;
}

.centrodecusto {
    width: 316px;
}

.telefone {
    width: 200px;
}

.ramal {
    width: 100px;
}

.cargo {
    width: 316px;
}

.empresa_ {
    width: 316px;
    height: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

#options_box {
    width: 600px;
    height: 380px;
    margin-top: 30px;
}

    #options_box img {
        margin: 10px 0px 10px 0px;
    }

.btnLogar {
    background-image: url(../../Style/Images/entrar.png);
    border: 0;
    width: 83px;
    height: 28px;
    cursor: pointer;
    float: right;
    margin: 1px 10px 1px 1px;
    background-repeat: no-repeat;
}

.btnGravar {
    background-image: url(../../Style/Images/gravar.png);
    border: 0;
    width: 82px;
    height: 28px;
    cursor: pointer;
}

.btnLimpar {
    background-image: url(../../Style/Images/limpar.png);
    border: 0;
    width: 82px;
    height: 28px;
    cursor: pointer;
}

.btnSair {
    background-image: url(../../Style/Images/sair.png);
    border: 0;
    width: 82px;
    height: 28px;
    cursor: pointer;
}

.senhaconfsenha {
    width: 216px;
}

.senhaconfsenha {
    width: 216px;
}

.field-validation-error {
    width: 110px;
    text-align: left;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    color: red;
}

.error {
    background-image: url(../../Style/Images/erro-404.png);
    width: 700px;
    height: 350px;
    border:0;
    margin: 1px 1px 1px 320px;
}
