<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Agility Solutions - Recuperação Senha</title>
</head>

<body>
    <table width="600" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="http://helpdesk.agilitysolutions.com.br/Style/Images/header_email.jpg" width="800" height="157" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://helpdesk.agilitysolutions.com.br/Style/Images/titulo_email.jpg" width="800" height="70" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#f1f1f1" style="padding-left: 20px; font-family: Verdana, Geneva, sans-serif; font-size: 16px; color: #878787;">
                <p>
                    <br />
                    Oi <strong>{NomeUsuario}</strong> sua nova senha para acesso ao sistema Web Help Desk é: {NovaSenha}
                </p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <p>Atenciosamente</p>
                <p>Help Desk</p>
                <p>{DataEnvio}</p>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://helpdesk.agilitysolutions.com.br/Style/Images/footer_email.jpg" width="800" height="116" />
            </td>
        </tr>
    </table>
</body>
</html>
